@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jokes Application</h1>
    <p>People rarely succeed unless they have fun in what they are doing. </p>
</div>
